[Unit]
Description=socket-credential-cache listener
After=network.target

[Service]
Type=notify
NotifyAccess=all
ExecStart=%h/.local/bin/socket-credential-cache serve '%I'
RuntimeMaxSec=5
SuccessExitStatus=143

[Install]
WantedBy=default.target
